*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    position: fixed; 
   width: 100%;
   background-color:burlywood;
   display: flex;
   justify-content: space-evenly;
   height: 50px;
   align-items: center;
}
.logo{
    padding-left: 30px;
    display: flex;

}


.navbar a{
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding-top: 30px;
    align-content: space-around;
}

@media screen{
    .header{
        min-width:500;
      display: none;
    }
}


